<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
  <!-- jquery cdn  -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- verify number -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/> 
  <style>
    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
    }

    .h-custom {
      height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
      .h-custom {
        height: 100%;
      }
    }

    .form-control:focus {
      border-color: #3b71ca;
      box-shadow: inset 0 0 0 1px #3b71ca;
    }

    .hidden,
    #phonelogin {
      display: none;
    }

    .otpContainer {
      display: none;
    }
    .iti {
      width: 100%;
    }

    .phoneInputStyle {
      padding-top: 4.5px;
      padding-bottom: 4.5px;
      font-size: 1rem;
      width: 100%;
      line-height: 2.15;
      border-radius: 0.25rem;
      border: 1.5px solid #00000047;
      outline-color: #3B71CA;
    }
  </style>
</head>

<body>
  <section class="vh-100">
    <div class="container h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
       

            <% if(typeof message !="undefined" && message){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= message %>
                  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
                <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
                </div>


                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form id="loginForm" method="post" action="/login">
                    <h2 class="mb-5 text-center text-primary">ClassToDigital</h2>

                    <div id="emaillogin">

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                          placeholder="Enter a valid email address" />
                        <label class="form-label" for="email">Email address</label>
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-3">
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                          placeholder="Enter password" />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>
                    <div id="phonelogin">

                      <!-- mobile input -->
                      <div class="form-outline mb-4">
                        <input id="phone" type="tel" name="phone" class="phoneInputStyle" />
                      </div>
                      <button type="button" id="getOTPValueBtn" class="btn btn-secondary btn-rounded mb-2">Get OTP
                      </button>
                      <p id="otpStatus" style="visibility:hidden"></p>

                      <!-- otp -->
                      <div class="otpContainer" id="otpContainer">
                        <div class="form-outline mb-3 ">
                          <input type="otp" id="otp" name="otp" class="form-control form-control-lg"
                            placeholder="Enter otp" />
                          <label class="form-label" for="password">One time Password</label>
                        </div>
                        <button type="button" id="verifyOTPBtn" class="btn btn-secondary btn-rounded mb-2">Verify
                          OTP</button>
                        <p id="otpVerificationStatus" style="visibility:hidden"></p>
                      </div>
                    </div>


                    <div class="d-flex justify-content-between align-items-center">
                      <!-- Checkbox -->
                      <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                          Remember me
                        </label>
                      </div>
                      <span class="text-primary" id="loginWithOTPBtn" style="cursor:pointer">Login with OTP</span>
                      <span class="text-primary hidden" id="loginWithEmailBtn" style="cursor:pointer">Login with
                        Email</span>
                    </div>


                    <div class="text-center text-lg-start mt-4 pt-2">
                      <input type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login">
                      <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                          class="link-danger">Register</a></p>
                    </div>

                  </form>
                </div>
      </div>
    </div>
  </section>
</body>
<!-- verify number -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/Authentication/login.js"></script>

</html>