<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Initial Link Loading -->
    <%- include('../InitialLoading/InitUp.ejs') %>

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>


            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
                        alt="MDB Logo" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Action
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="/uploadResearchPaper">Upload Research Paper</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/uploadProjectRepository">Upload Project Repository</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Campus
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="/internships">Internships</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/projectRepository">Repository</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/industrialProjects">Industrial Projects</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/mentors">Mentors</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/products">Products</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/researchPapers">Research Papers</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Exam Papers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">
                                    Engineering &raquo;
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="#">B Tech &raquo;</a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Computer Engineering &raquo;</a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">1st Semester</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">2nd Semester</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Civil Engineering &raquo;</a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">1st Semester</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">2nd Semester</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">M Tech</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Multi level 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Multi level 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 4</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 5</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Management</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Medical</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Sciences</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Arts & Humanities</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Nursing</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Agriculture</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Law</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Submenu &raquo;
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 2</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Multi level 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Multi level 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 4</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu item 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>





                </ul>




                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <% if(typeof role!="undefined" && role){ %>
                    <!-- Icon -->
                    <a class="text-reset me-3" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>

                    <!-- Notifications -->
                    <div class="dropdown">
                        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"
                            id="notification-ul-container">

                        </ul>
                    </div>
                    <!-- Avatar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown"
                            aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle"
                                height="22" alt="Black and White Portrait of a Man" loading="lazy" />


                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">My Points &nbsp 340 <i
                                        class="fa-solid fa-coins"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">My profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Mentees</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">Rewards</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </li>

                        </ul>
                    </div>




                    <% }else{ %>
                        <button class="btn btn-link px-3 me-2">
                            <a class="text-primary" href="/login">Login</a>
                        </button>
                        <button class="btn btn-primary me-3">
                            <a class="text-white" href="/signup">SignUp</a>
                        </button>
                        <% } %>


            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->


</body>
<!-- Initial Script Loading -->
<%- include('../InitialLoading/InitDown.ejs') %>
    <script src="js/Notification/Notification.js"></script>

</html>