.repositoryDetails span{
    background-color: #e5e5e5;
    padding: 5px 8px ;
    border-radius: 5px;
    color: #4f4f4f;
  }

.skillsBadgeText{
    color: #4f4f4f !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-left: 5px !important;
  }
