<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/404/style.css">
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h2>Oops! Some thing went wrong </h2>
            <h2><%- error -%></h2>
            <p>Process was not completed. Please try again later. Sorry for the inconvenience. We are working on it.</p>
            <a href="/">Back to homepage</a>
        </div>
    </div>
</body>

</html>